.content{
    height: 600px;
}
.btn-wrap {
    margin-bottom: 50px;
}
.submit {
    margin-right: 30px;
}
.button-container{
    margin-bottom: 20px;
}
.imgPerview{
    margin: 0 0 20px;
    width: 100%;
}