.article-container{
    .title{
        word-break: break-all;
        font-size: 2.2em;
        font-weight: bold;
        line-height: 1.5;
    }
    .counts {
        margin: 20px 0;
        span{
            position: relative;
            top: 1px;
            margin-right: 10px;
            font-size: 12px;
        }
    }
    .markdown-content{
      margin-bottom: 100px;
      line-height: 35px;
      word-wrap:break-word;
    }
}